:root {
  --font-primary: "Nunito", sans-serif;

  --color-bg-main: #faf9ff;
  --color-bg-white: #ffffff;
  --color-accent: #31728d;
  --color-border: #d2cfdf;
  --color-border-hover: #31728d;
  --color-input-bg: #e8e6ef;
  --color-input-placeholder: #b7b4c1;
  --color-btn-disabled: #e8e6ef;
  --color-text-primary: #111111;
  --color-text-secondary: #666666;
  --color-backdrop: #11111180;
  --color-btn-disabled: #b7b4c1;
  --color-error: #ea6747;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
  background-color: var(--color-bg-primary);
}

html {
  font-size: calc(10px + (15 - 10) * ((100vw - 375px) / (480 - 375)));
}

@media (min-width: 480px) {
  html {
    font-size: 15px;
  }
}
